
.componentWrapper {
    margin-top: var(--major-gap);
    position: relative;
    background-color: var(--background-color-tertiary);
    padding: var(--minor-gap) 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.innerWrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.imgWrapper {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textWrapper p {
    text-align: left;
    font-size: .75rem;
}

.textWrapper p strong {
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: .25rem;
}

.infoBlock:nth-child(2) {
    transition-delay: 300ms;
}

.infoBlock:nth-child(3) {
    transition-delay: 600ms;
}