.button {
    min-width: 200px;
    padding: .75rem 1rem;
    font: var(--font-main);
    letter-spacing: .25rem;
    font-size: .75rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
}