@import url('./fonts.css');
@import url('./palette.css');


:root {
    --background-color: var(--white);
    --primary-color:rgb(155, 95, 39);
    --text-color: var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

