:root {
    --black: #000000;

    --grey-dark: #313237;
    --grey: #b5bac0;
    --grey-light: #f7f7f7;

    --white: #ffffff;

    --blue: #4b607f;
    --blue-light: #83949c;

    --orange-bold: #ff6d1f;
    --orange: #e2a165;
    --orange-muted: #f2c98c;
}