
.componentWrapper {
    position: relative;
    background-color: var(--background-color-secondary);
    padding: var(--minor-gap) 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.innerWrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.textBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textBlockWrapper p {
    text-align: center;
    letter-spacing: .25rem;
}

.textBlockWrapper p strong {
    font-weight: 700;
}

.lowerText p {
    font-size: .75rem;
    color: var(--text-color-subtle);
}