
.componentWrapper {
    padding: var(--major-gap) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--major-gap);
}

.componentWrapper blockquote {
    font-size: 2.5rem;
    text-align: justify;
    text-align-last: center;
    font-style: italic;
}

.componentWrapper img {
    max-width: 300px;
}