
.componentWrapper {
    background-color: var(--background-color-header);
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.innerWrapper {
    margin: auto;
    max-width: 1920px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.atPageTop {
    background-color: transparent;
    box-shadow: none;
}

.componentWrapper img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 60px;
}

.componentWrapper nav {
    margin: auto 0;
}

.componentWrapper ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.componentWrapper li {
    list-style: none;
    letter-spacing: .125rem;
    font-size: .9rem;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}