.componentWrapper {
    position: relative;
    height: 100vh;
    max-height: 1000px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.componentWrapper h1 {
    color: var(--text-color-light);
    margin-bottom: 24px;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}